

html,body {height: 100%;}


body{
  background-color: #FDCF79;
}

@font-face{

  font-family:titulos ;
  src:url(titulos.otf);
}

h1{
  font-family:titulos;
  font-size: 400% ;

}

@font-face{

  font-family:parrafos ;
  src:url(parrafos.otf);
}

h2{
  font-family:parrafos;
  font-size: 200% ;

}

@font-face{

  font-family:letra3 ;
  src:url(CreamShoes.ttf);
}

h3{
  font-family:Letra3;
  font-size: 175% ;

}

@font-face{

  font-family:letra4 ;
  src:url(Balivia.ttf);
}

h4{
  font-family:Letra4;
  font-size: 175% ;

}



.myButton {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.myButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
}
.myButton:active {
	position:relative;
	top:1px;
}
.avatar {
    vertical-align: middle;
    width: 85px;
    height: 85px;
    border-radius: 85%;
 }
